$yellow: #D49C6B;
$grey_bg: #4B535A;
$grey_md: #4b535acd;
$grey_tx: #252B31;
$light_tx: #F6FAFB;
$brown_shadow: rgba(92, 13, 13, 0.25);
$grey_shadow:  rgba(13, 64, 92, 0.25);
$pink_tx: rgba(239, 200, 167, 1);
$pink_tx: rgba(239, 200, 167, 1);
$fwapp:700;
$fsapp:1.6em;
// adaptive max 479 font-size
$adapwhat:0.5em;
// adaptive (min-width: 769px) and (max-width: 1279px) font-size
$adaptmax:1em;


