@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;

}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.feedback-items {
  margin-left: 27%;
}


/* Блок "Широкий спектр ремонтных услуг в челябинске" начало */
.main-page {
  background: url("/assets/img/main_photo.png") no-repeat left top, linear-gradient(90.63deg, #4B535A 7.31%, #354049 71.98%);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(300px, 600px);
  grid-template-columns: 1fr minmax(300px, 600px);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.main-page>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main-page>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.main-page>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main-page>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.main-text-wrapper {
  padding: 4rem 1rem 8% 8%;
}

.main-text__title {
  font-weight: 800;
  font-size: 3em;
  color: #F6FAFB;
  text-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.291);
}

.main-text__title_pink {
  color: rgb(239, 200, 167);
}

.main-text__text {
  padding: 2rem 0;
  color: #F6FAFB;
  font-size: 0.8em;
  text-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.291);
  line-height: 2em;
}

.main-text__order {
  font-weight: 600;
  color: #F6FAFB;
  font-size: 1em;
  text-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
  line-height: 5em;
}

.main-text__img {
  text-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
}

/* Блок "Широкий спектр ремонтных услуг в челябинске" конец */

/* Адаптив блок  "Широкий спектр ремонтных услуг в челябинске" начало*/
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .main-text__title {
    font-size: 2.6em;
  }

  .main-text__order {
    font-size: 1em;
  }

  .whatsapp-box_number {
    font-size: 1em;
  }

  .whatsapp-box_link {
    font-size: 1em;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .whatsapp-box {
    height: 18vh;
    width: 80vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: ()[1fr 2fr 1fr];
    grid-template-rows: repeat(1fr 2fr 1fr);
  }

  .whatsapp-box_text {
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 15%;
  }

  .whatsapp-box_number {
    font-size: 0.7em;
    padding-bottom: 40%;
  }

  .whatsapp-box_link {
/* Адаптив блок  "Широкий спектр ремонтных услуг в челябинске" начало*/
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .main-text__title {
    font-size: 2.6em;
  }

  .main-text__order {
    font-size: 1em;
  }

  .main-text__text {
    font-size: 0.8em;
  }

  .main-text__img {
    transform: rotate(90deg);
    width: 15%;

  }
}


@media screen and (min-width: 480px) and (max-width: 768px) {

  .main-text__title {
    font-size: 2em;
  }

  .main-text__order {
    font-size: 0.8em;
  }

  .main-text__text {
    font-size: 1em;
  }

  .main-text__img {
    transform: rotate(90deg);
    width: 15%;

  }
}

@media screen and (max-width: 479px) {
  .main-text__title {
    font-size: 2em;
  }

  .main-text__order {
    font-size: 0.8em;
  }

  .main-text__text {
    font-size: 1em;
  }

  .main-text__img {
    transform: rotate(90deg);
    width: 15%;

  }

  .whatsapp-box_number {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding-bottom: 0%;
    line-height: 0px;
    font-size: 0.46em;
  }

  .whatsapp-box_link {
    font-size: 0.5em;
  .main-text__title {
    font-size: 2em;
  }

  .main-text__order {
    font-size: 0.8em;
  }

  .main-text__text {
    font-size: 1em;
  }

  .main-text__img {
    transform: rotate(90deg);
    width: 15%;

  }

}

/* Адаптив блок  "Широкий спектр ремонтных услуг в челябинске" конец*/

/* Форма начало  */
.form-wrapper {
  padding: 1rem 8% 1rem 0;
}

.form {
  background: #D49C6B;
  border: 0.625rem solid #D49C6B;
  border-radius: 1.05rem;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
  box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
  font-size: 1.5em;
}

.form * {
  outline: none;
}

.form__body {
  background: linear-gradient(144.09deg, #4B535A 22.67%, #354049 112.84%), linear-gradient(0deg, #D49C6B, #D49C6B);
  border-radius: 0.625rem;
  padding: 3% 12%;
  min-height: 400px;
  color: #F6FAFB;
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #D49C6B url("../img/loading.gif") center/9rem no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  text-align: center;
}

.form__item {
  border-bottom: #D49C6B solid 2px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.form__item_textarea {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: none;
}

.form__item_loadImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  border: none;
}

.form__label {
  font-weight: 300;
  font-size: 0.6em;
  line-height: 1.06em;
  padding-top: 1rem;
}

.form__input {
  border: none;
  background-color: #4B535A;
  color: #F6FAFB;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 0.6em;
  padding-left: 1rem;
}

.form__input_textarea {
  color: black;
  margin-top: 1rem;
  background-color: #F6FAFB;
  min-width: 100%;
  min-height: 5rem;
  border: #D49C6B solid 2px;
  border-radius: 0.5rem;
  resize: vertical;
}

.form__input_textarea::-webkit-scrollbar {
  display: none;
}

.file {
  margin-top: 0.5rem;
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__preview {
  display: inline-block;
  max-width: 100px;
  padding: 0.5rem 0 0 0;
}

.file__preview img {
  max-width: 100%;
}

.form__button,
.file__button {
  background-color: #4B535A;
  border: #D49C6B solid 2px;
  border-radius: 0.5rem;
  color: #F6FAFB;
}

.form__button {
  margin-top: 0.5rem;
  min-width: 100%;
  min-height: 3rem;
  font-weight: 500;
  font-size: 0.8em;
  cursor: pointer;
  -webkit-box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
  box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
}

.file__button {
  font-weight: 400;
  font-size: 0.65em;
  padding: 0.6em;
  -webkit-box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
  box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
}

.form__button:hover,
.form__button:focus,
.form__input:focus,
.form__input:hover {
  -webkit-box-shadow: 0 0.3rem 0.9rem rgba(78, 55, 55, 0.37), inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.503);
  box-shadow: 0 0.3rem 0.9rem rgba(78, 55, 55, 0.37), inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.503);
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
}

._error {
  -webkit-box-shadow: 0 0.3rem 0.9rem rgba(78, 55, 55, 0.37), inset 0 0.3rem 1.9rem rgba(255, 6, 6, 0.503);
  box-shadow: 0 0.3rem 0.9rem rgba(78, 55, 55, 0.37), inset 0 0.3rem 1.9rem rgba(255, 6, 6, 0.503);
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
}

#message {
  font-size: 0.9em;
  margin: 1rem 0 0 0;
  padding: 1rem 0;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: 800;
  color: rgb(253, 83, 83);
}

/* Форма конец */

/* Блок "Наши работы",галерея, начало */
.projects {
  padding: 7% 0% 5%;
}

.projects-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.project-text {
  text-align: center;
}

.carousel {
  margin-top: 5rem;
}

.carousel-inner {
  text-align: center;
}

.carousel-item {
  max-height: 80vh;
}

/* Блок "Наши работы",галерея, конец *


 /* Блок "Услуги",начало  */
.container__services {
  margin-left: 15%;
}

.container__services .card-body {
  margin: 13%;
  padding: 10%;
  border: 1px;
  border-radius: 5%;
  background-color: #D49C6B;
  -webkit-box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
  box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);

}

.container__services .card-title {
  color: #F6FAFB;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

.container__services .card-text {
  color: #252B31;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
}

a:hover {
  color: #252B31;
}

a:link {
  color: #F6FAFB;
}

a:visited {
  color: #F6FAFB;
}

.container_industrial {
  margin-left: 22%;
  width: 33vw;
  height: 60vh;

}

.modal-content {
  border: 1px #F6FAFB;
  border-radius: 2%;
  -webkit-box-shadow: 7px 7px 15px rgba(13, 64, 92, 0.25);
  box-shadow: 7px 7px 15px rgba(13, 64, 92, 0.25);
}

.modal-title {
  margin: 2%;
  color: #252B31;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1, 5em;
  font-weight: 600;
}

.modal-list {
  margin: 2%;
  color: #252B31;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.modal-img {
  padding: 2%;
}

.container__additional {
  margin: auto;
  background-color: #F6FAFB;
  -webkit-box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
  box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
  border-radius: 3%;
  height: 10rem;
  width: 48rem;
}

.container__additional .additional-text {
  text-align: center;
  color: #252B31;
  padding: 3%;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1, 5em;
  font-weight: 600;
}

.container__additional {
  margin: auto;
  background-color: #F6FAFB;
  -webkit-box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
  box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
  border-radius: 3%;
  height: 10rem;
  width: 48rem;
}

.container__additional .additional-text {
  text-align: center;
  color: #252B31;
  padding: 3%;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1, 5em;
  font-weight: 600;
}

.container__additional .colortext {
  color: #D49C6B;
}


/* Блок "Услуги" конец  */

/* Адаптив блока услуги,начало */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .another-card {
    width: 35vw;

  }

  .additional-text {
    text-align: center;
  }

  .container__additional {
    margin-top: 20%;
  }

  .container__services {
    margin: auto;
  }

  .title__line {
    width: 70%;

  }

  .card__services {

    margin: auto;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .additional-text {
    text-align: center;
  }

  .container__additional {
    margin-top: 20%;
  }

  .container__services {
    margin: auto;


  }

  .another-card {
    width: 50vw;

  }

  .title__line {
    width: 70%;

  }

  .card__services {
    margin: auto;
  }

}

@media screen and (min-width: 480px) and (max-width: 767px) {

  .additional-text {
    margin-top: 30%;
    font-size: 1em;
  }

  .container__services {
    margin: auto;
  }

  .another-card {
    width: 100%;

  }

  .title__line {
    width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .title__line {
    width: 60%;
  }

  .another-card {
    margin-left: -68px;
  }

  .card-text {
    font-size: 0.7em;
  }

  .card-title {
    font-size: 1.4em;
  }

  .card__services {
    width: 80vw;
    height: 61vh;
  }

  .container__services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
}

/* Адаптив блока услуги ,конец*/

/* Блок "Давайте воплотим ваши мечты в реальность" начало */
.dream {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-weight: 700;
  align-items: center;
}

.dream_text {
  color: #252B31;
  padding-bottom: 2%;
}

.dream_img {
  width: 3%;
}

/* Блок "Давайте воплотим ваши мечты в реальность" конец */
/* Адаптив "Давайте воплотим ваши мечты в реальность"  начало*/

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .dream {
    font-size: 1.7em;
  }

  .dream_img {
    width: 5%;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .dream_text {
    font-size: 0.6em;
  }

  .dream_img {
    width: 4%;
  }
}

@media screen and (max-width: 479px) {
  .dream {
    font-size: 0.6em;
  }

  .dream_img {
    width: 4%;
  }
}

/* Конец адаптива "Давайте воплотим ваши мечты в реальность" */

/* Форма Whatsapp  начало*/
.whatsapp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  color: white;
  padding-bottom: 5%;
}

.whatsapp-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  background: linear-gradient(266.53deg, #EA9E5C 7.87%, #D49C6B 89.68%);
  border-radius: 20px;
  height: 20vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}

.whatsapp-box>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.whatsapp-box>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.whatsapp-box>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.whatsapp-box>*:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.whatsapp-box>*:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.whatsapp-box>*:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.whatsapp-box>*:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.whatsapp-box>*:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}

.whatsapp-box>*:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.whatsapp-box>*:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}

.whatsapp-box>*:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.whatsapp-box>*:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 12;
}

.whatsapp-box>*:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.whatsapp-box>*:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.whatsapp-box>*:nth-child(15) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.whatsapp-box>*:nth-child(16) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.whatsapp-box>*:nth-child(17) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.whatsapp-box>*:nth-child(18) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.whatsapp-box>*:nth-child(19) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.whatsapp-box>*:nth-child(20) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
}

.whatsapp-box>*:nth-child(21) {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
}

.whatsapp-box>*:nth-child(22) {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
}

.whatsapp-box>*:nth-child(23) {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
}

.whatsapp-box>*:nth-child(24) {
  -ms-grid-row: 2;
  -ms-grid-column: 12;
}

.whatsapp-box>*:nth-child(25) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.whatsapp-box>*:nth-child(26) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.whatsapp-box>*:nth-child(27) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.whatsapp-box>*:nth-child(28) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.whatsapp-box>*:nth-child(29) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.whatsapp-box>*:nth-child(30) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.whatsapp-box>*:nth-child(31) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.whatsapp-box>*:nth-child(32) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}

.whatsapp-box>*:nth-child(33) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.whatsapp-box>*:nth-child(34) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}

.whatsapp-box>*:nth-child(35) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.whatsapp-box>*:nth-child(36) {
  -ms-grid-row: 3;
  -ms-grid-column: 12;
}

.whatsapp-box_text {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row-align: center;
  align-self: center;
  font-weight: 700;
  font-size: 1.6em;
}

.whatsapp-box_number {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/12;
  -ms-grid-row-align: center;
  align-self: center;
  padding-bottom: 20%;
  line-height: 44px;
  font-weight: 700;
  font-size: 1.6em;
}

.whatsapp-box_img {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 8;
  grid-column: 8;
  -ms-grid-row-align: center;
  align-self: center;
  width: 6vw;
}

.whatsapp-box_link {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/12;
  -ms-grid-row-align: center;
  align-self: center;
  color: white;
  text-decoration: underline;
  letter-spacing: 0.05em;
  font-size: 1.6em;
}

/* Конец формы Whatsapp */

/* Адаптив Whatsapp  начало*/

@media screen and (min-width: 769px) and (max-width: 1250px) {

  .whatsapp-box_text {
    font-size: 1em;
  }

  .whatsapp-box_number {
    font-size: 1em;
    padding-bottom: 30%;
  }

  .whatsapp-box_link {
    font-size: 1em;

  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .whatsapp-box {
    height: 18vh;
    width: 80vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: ()[1fr 2fr 1fr];
    grid-template-rows: repeat(1fr 2fr 1fr);
  }

  .whatsapp-box_text {
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 15%;
  }

  .whatsapp-box_number {
    font-size: 0.7em;
    padding-bottom: 40%;

  }

  .whatsapp-box_link {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 479px) {
  .whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .whatsapp-box {
    height: 15vh;
    width: 90vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: ()[1fr 2fr 1fr];
    grid-template-rows: repeat(1fr 2fr 1fr);

  }

  .whatsapp-box_text {
    font-size: 0.5em;
    margin: auto;
  }

  .whatsapp-box_img {
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .whatsapp-box_number {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-bottom: 20%;
    line-height: 0px;
    font-size: 0.4em;
  }

  .whatsapp-box_link {
    font-size: 0.5em;
  }
}

/* Конец адаптива Whatsapp */



/* FOOTER НАЧАЛО */
.footer {
  background: linear-gradient(45deg, #4B535A 16.25%, #354049 76.77%);
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 1fr);
  grid-template-columns: minmax(300px, 1fr);
  -ms-grid-rows: (1fr)[5];
  grid-template-rows: repeat(5, 1fr);
  padding: 3rem 8%;
}

.footer-wrapper>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footer-wrapper>*:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.footer-wrapper>*:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.footer-wrapper>*:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.footer-wrapper>*:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.footer__corner-top {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  -ms-grid-column-align: end;
  justify-self: end;
}

.footer__title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}

.footer__title-text {
  margin-bottom: 0;
}

.footer__phone {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone-img {
  width: 1.5rem;
  height: 1.5rem;
}

.phone-text {
  margin-left: 2%;
  margin-bottom: 0;
}

.a__phone {
  color: #F6FAFB;
}

.a__phone:hover {
  color: #F6FAFB;
}

.footer__time {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__mail {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4/1/5/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.mail-img {
  width: 1.5rem;
  height: 1.5rem;
}

.mail-text {
  margin-left: 2%;
  margin-bottom: 0;
  line-height: 25px;
}

.a__mail {
  text-decoration: none;
  color: #F6FAFB;
}

.a__mail:hover {
  color: #F6FAFB;
}

.footer__logo {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4/1/5/2;
  -ms-grid-column-align: end;
  justify-self: end;
}

.footer__corner-bottom {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5/1/6/2;
  -ms-grid-row-align: end;
  align-self: end;
}

/* FOOTER КОНЕЦ */

/* АДАПТИВ БЛОКА FOOTER НАЧАЛО */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer-wrapper {
    -ms-grid-rows: (1fr)[7];
    grid-template-rows: repeat(7, 1fr);
    padding: 3rem 8%;
  }

  .footer__phone {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
  }

  .footer__time {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer__mail {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5/1/6/2;
  }

  .footer__logo {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 6/1/7/2;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  .footer__corner-bottom {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 7/1/8/2;
  }
}

@media screen and (max-width: 479px) {
  .footer-wrapper {
    -ms-grid-rows: (1fr)[7];
    grid-template-rows: repeat(7, 1fr);
    padding: 3rem 8%;
  }

  .footer__phone {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
  }

  .footer__time {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer__mail {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5/1/6/2;
  }

  .footer__logo {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 6/1/7/2;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  .footer__corner-bottom {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 7/1/8/2;
  }
}

/* АДАПТИВ БЛОКА FOOTER НАЧАЛО */

.text {
  font-weight: 500;
  font-size: 1rem;
  color: #252B31;
}

.text-white {
  font-weight: 500;
  font-size: 1rem;
  color: #F6FAFB;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #252B31;
}

.title-white {
  font-weight: 700;
  font-size: 1.5rem;
  color: #F6FAFB;
}

body {
  color: #D49C6B;
}

.title {
  text-align: center;
}

.title__line {
  margin: 8%;
}

.container__services {
  margin-left: 15%;
}
.container__services .card-body {
  margin: 13%;
  padding: 10%;
  border: 1px;
  border-radius: 5%;
  background-color: #D49C6B;
  -webkit-box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
          box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
}
.container__services .card-title {
  color: #F6FAFB;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1, 5em;
  font-weight: 600;
}
.container__services .card-text {
  color: #252B31;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;

/* Адаптив Блок "Услуги"*/

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .container__additional {
    font-size: 1em;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .additional-text {
    font-size: 0.8em;
  }


  .container_industrial {
    margin: auto;
    width: 80vw;
    height: 60vh;

  }
}

@media screen and (max-width: 479px) {
  .additional-text {
    font-size: 0.5em;
  }

  .container_industrial {
    margin: auto;
    width: 50vw;
    height: 60vh;

  }

  .container__services {
    margin: auto;
  }


  .card-title {
    font-size: 1em;
  }

  .card-text {
    font-size: 0.9em;
  }

  .card__services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.95em;
    text-align: center;
  }
}

a:visited {
  color: #F6FAFB;
}

.container_industrial {
  height: 40%;
  width: 40%;
  margin-left: 22%;
}

.modal-content {
  border: 1px #F6FAFB;
  border-radius: 2%;
  -webkit-box-shadow: 7px 7px 15px rgba(13, 64, 92, 0.25);
          box-shadow: 7px 7px 15px rgba(13, 64, 92, 0.25);
}

.modal-title {
  margin: 2%;
  color: #252B31;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1, 5em;
  font-weight: 600;
}

.modal-list {
  margin: 2%;
  color: #252B31;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.modal-img {
  padding: 2%;
}

.container__additional {
  margin-left: 25%;
  background-color: #F6FAFB;
  -webkit-box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
          box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
  border-radius: 3%;
  height: 10rem;
  width: 48rem;
}
.container__additional .additional-text {
  text-align: center;
  color: #252B31;
  padding: 3%;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
}
.container__additional .colortext {
  color: #D49C6B;
}
/* Конец Адаптива блок "Услуги" */

.img-fluid {
  margin-left: 27%;
}

.img__btn {
  height: 6rem;
  width: 6rem;
}

.feedback__line {
  margin-left: 40%;
  padding: 2%;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.feedback-items {
  margin-left: 27%;
}
/*  */

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 4%;
  }

  .form-wrapper,
  .main-text-wrapper {
    padding: 0;
    margin: 3rem auto;
    font-size: 24px;
  }

  .form {
    width: 700px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 4%;
  }

  .form-wrapper,
  .main-text-wrapper {
    padding: 0;
    margin: 3rem auto;
    font-size: 24px;
  }

  .form {
    min-width: 470px;
  }

  .container__additional {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .card-text,
  .title {
    font-size: 1em;
  }
}

/* Адаптив формы */
@media screen and (max-width: 479px) {
  .main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 4%;
  }
  .main-text-wrapper {
    padding: 0 5%;
  }
  .form {
    border: 0.3rem solid #D49C6B;
  }
  .form__body {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 5%;
  }
  #message {
    padding: 0;
    font-size: 0.6em;
  }
  .form__input_textarea {
    margin-top: 0.6rem;
    min-height: 3rem;
  }
  .file__button, .form__button {
    font-size: 0.6em;
  }

  .form-wrapper,
  .main-text-wrapper {
    padding: 0;
    margin: 1rem auto;
    font-size: 0.8em;
  }

  .form {
    max-width: 470px;
    font-size: 1.3em;
  }
  .form-wrapper {
    margin: 0;
  }
  .form__label {
    padding-top: 0rem;
  }
  .form__title {
    font-size: 0.8em;
  }
  .file {
    line-height: normal;
  }

  .title {
    text-align: center;

  }

  .container__additional {
    width: 12rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .carousel-item {
    max-width: 11rem;
  }



  .container__services {
    width: 18rem;
    padding: 10%;
  }
}

/* Блок линий для "наши работы", "услуги", "отзывы" адаптив */

@media screen and (min-width: 1024px) and (max-width: 1279px) {}

@media screen and (min-width: 768px) and (max-width: 1024px) {}

@media screen and (min-width: 480px) and (max-width: 767px) {
    {}

}



@media screen and (max-width: 479px) {
  .line {
    width: 30%;
  }

}