@import "vars";
@import "blocks/header";
@import "blocks/first";
@import "blocks/advantages";
@import "blocks/projects";
@import "blocks/services";
@import "blocks/reviews";
@import "blocks/whatsapp";


body {
    color: $yellow;
}

// Катя услуги начало 

.subtitle {
 color: $grey_tx;
 text-align: center;
}

.subtitle__line {
    margin: 8%;
}

 .container__services{

    margin-left: 25%;
  
    .card-body {
        margin: 13%;
        padding: 10%;
        border: 1px;
        border-radius: 5%;
        background-color: $yellow;
        box-shadow: 4px 4px 4px $brown_shadow;
    }

    .card-title {
        color: $light_tx;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 1,5em;
        font-weight: 600;
    }

    .card-text {
        color: $grey_tx;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 1em;
        font-weight: 500;
    }

    
}

a:hover {
    color: $grey_tx; 
}

a:link {
    color: $light_tx;
}

a:visited {
    color: $light_tx;
}


.container_industrial {
    margin-left: 16%;
}

.modal-content {
    border: 1px $light_tx;
    border-radius: 2%;
    box-shadow: 7px 7px 15px $grey_shadow;
}

.modal-title {
    margin: 2%;
    color: $grey_tx;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1,5em;
    font-weight: 600;
}

.modal-list {
    margin: 2%;
    color: $grey_tx;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
}



.modal-img {
    padding: 2%;
}

.container__additional {
    margin-left: 26%;
    background-color: $light_tx;
    box-shadow: 4px 4px 4px $brown_shadow;
    border-radius: 3%;
    height: 7rem;
    width: 44rem;

    .additional-text {
        text-align: center;
        color: $grey_tx;
        padding: 3%;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 1,5em;
        font-weight: 600;
    }
    .colortext {
        color: $yellow;
    }
}

// Катя услуги конец


// Отзывы начало
.img-fluid {
    margin-left: 27%;
}

.img-btn {
    height: 4rem;
}

.feedback__line {
    margin-left: 42%;
    padding: 2%;
}
// Отзывы конец