@import "vars";
@import "blocks/header";
@import "blocks/first";
@import "blocks/advantages";
@import "blocks/projects";
@import "blocks/services";
@import "blocks/reviews";
@import "blocks/whatsapp";


body {
    color: $yellow;
}

// Катя услуги начало 

.subtitle {
 color: $grey_tx;
 text-align: center;
}

 .container__services{

    margin-left: 25%;
  
    .card-body {
        margin: 10%;
        padding: 10%;
        border: 1px;
        border-radius: 5%;
        background-color: $yellow;
        box-shadow: 4px 4px 4px $brown_shadow;
    }

    .card-title {
        color: $light_tx;
    }

    .card-text {
        color: $grey_tx;
    }

    a:link {
        color: $light_tx;
    }
}

.container_industrial {
    margin-left: 18%;
}

.modal-content {
    border: 1px $light_tx;
    border-radius: 2%;
    box-shadow: 7px 7px 15px $grey_shadow;
}

.modal-title,
.modal-list {
    margin: 2%;
    color: $grey_tx;
}

.modal-img {
    padding: 2%;
}

// Катя услуги конец
