@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
.main-page {
  background: url("/assets/img/main_photo.png") no-repeat left top, linear-gradient(90.63deg, #4B535A 7.31%, #354049 71.98%);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(300px, 600px);
  grid-template-columns: 1fr minmax(300px, 600px);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
.main-page > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.main-page > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.main-text-wrapper {
  padding: 4rem 1rem 8% 8%;
}

.main-text__title {
  font-weight: 800;
  font-size: 3em;
  color: #F6FAFB;
  text-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.291);
}

.main-text__title_pink {
  color: rgb(239, 200, 167);
}

.main-text__text {
  padding: 2rem 0;
  color: #F6FAFB;
  font-size: 0.8em;
  text-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.291);
  line-height: 2em;
}

.main-text__order {
  font-weight: 600;
  color: #F6FAFB;
  font-size: 1em;
  text-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
  line-height: 5em;
}

.main-text__img {
  text-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
}

.projects {
  padding: 7% 0% 5%;
}

.projects-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.project-text {
  text-align: center;
}

.carousel {
  margin-top: 5rem;
}

.carousel-inner {
  text-align: center;
}

.carousel-item {
  max-height: 80vh;
}

.form-wrapper {
  padding: 1rem 8% 1rem 0;
}

.form {
  background: #D49C6B;
  border: 0.625rem solid #D49C6B;
  border-radius: 1.05rem;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
}

.form * {
  outline: none;
}

.form__body {
  background: linear-gradient(144.09deg, #4B535A 22.67%, #354049 112.84%), linear-gradient(0deg, #D49C6B, #D49C6B);
  border-radius: 0.625rem;
  padding: 3% 12%;
  min-height: 590px;
  color: #F6FAFB;
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #D49C6B url("../img/loading.gif") center/9rem no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  text-align: center;
}

.form__item {
  border-bottom: #D49C6B solid 2px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form__item_textarea {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: none;
}

.form__item_loadImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border: none;
}

.form__label {
  font-weight: 300;
  font-size: 0.6em;
  line-height: 1.06em;
  padding-top: 1rem;
}

.form__input {
  border: none;
  background-color: #4B535A;
  color: #F6FAFB;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 0.6em;
  padding-left: 1rem;
}

.form__input_textarea {
  color: black;
  margin-top: 1rem;
  background-color: #F6FAFB;
  min-width: 100%;
  min-height: 5rem;
  border: #D49C6B solid 2px;
  border-radius: 0.5rem;
  resize: vertical;
}

.form__input_textarea::-webkit-scrollbar {
  display: none;
}

.file {
  margin-top: 0.5rem;
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__preview {
  display: inline-block;
  max-width: 100px;
  padding: 0.5rem 0 0 0;
}

.file__preview img {
  max-width: 100%;
}

.form__button,
.file__button {
  background-color: #4B535A;
  border: #D49C6B solid 2px;
  border-radius: 0.5rem;
  color: #F6FAFB;
}

.form__button {
  margin-top: 0.5rem;
  min-width: 100%;
  min-height: 3rem;
  font-weight: 500;
  font-size: 0.8em;
  cursor: pointer;
  -webkit-box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
}

.file__button {
  font-weight: 400;
  font-size: 0.65em;
  padding: 0.6em;
  -webkit-box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.4rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
}

.form__button:hover,
.form__button:focus,
.form__input:focus,
.form__input:hover {
  -webkit-box-shadow: 0 0.3rem 0.9rem rgba(78, 55, 55, 0.37), inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.503);
          box-shadow: 0 0.3rem 0.9rem rgba(78, 55, 55, 0.37), inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.503);
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
}

._error {
  -webkit-box-shadow: 0 0.3rem 0.9rem rgba(78, 55, 55, 0.37), inset 0 0.3rem 1.9rem rgba(255, 6, 6, 0.503);
          box-shadow: 0 0.3rem 0.9rem rgba(78, 55, 55, 0.37), inset 0 0.3rem 1.9rem rgba(255, 6, 6, 0.503);
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
}

#message {
  font-size: 0.9em;
  margin: 1rem 0 0 0;
  padding: 1rem 0;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: 800;
  color: rgb(253, 83, 83);
}

.text {
  font-weight: 500;
  font-size: 1rem;
  color: #252B31;
}

.text-white {
  font-weight: 500;
  font-size: 1rem;
  color: #F6FAFB;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #252B31;
}

.title-white {
  font-weight: 700;
  font-size: 1.5rem;
  color: #F6FAFB;
}

body {
  color: #D49C6B;
}

.title {
  text-align: center;
}

.title__line {
  margin: 8%;
}

.container__services {
  margin-left: 15%;
}
.container__services .card-body {
  margin: 13%;
  padding: 10%;
  border: 1px;
  border-radius: 5%;
  background-color: #D49C6B;
  -webkit-box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
          box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
}
.container__services .card-title {
  color: #F6FAFB;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1, 5em;
  font-weight: 600;
}
.container__services .card-text {
  color: #252B31;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
}

a:hover {
  color: #252B31;
}

a:link {
  color: #F6FAFB;
}

a:visited {
  color: #F6FAFB;
}

.container_industrial {
  margin-left: 22%;
}

.modal-content {
  border: 1px #F6FAFB;
  border-radius: 2%;
  -webkit-box-shadow: 7px 7px 15px rgba(13, 64, 92, 0.25);
          box-shadow: 7px 7px 15px rgba(13, 64, 92, 0.25);
}

.modal-title {
  margin: 2%;
  color: #252B31;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1, 5em;
  font-weight: 600;
}

.modal-list {
  margin: 2%;
  color: #252B31;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.modal-img {
  padding: 2%;
}

.container__additional {
  margin-left: 25%;
  background-color: #F6FAFB;
  -webkit-box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
          box-shadow: 4px 4px 4px rgba(92, 13, 13, 0.25);
  border-radius: 3%;
  height: 10rem;
  width: 48rem;
}
.container__additional .additional-text {
  text-align: center;
  color: #252B31;
  padding: 3%;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1, 5em;
  font-weight: 600;
}
.container__additional .colortext {
  color: #D49C6B;
}

.img-fluid {
  margin-left: 27%;
}

.img__btn {
  height: 6rem;
  width: 6rem;
}

.feedback__line {
  margin-left: 40%;
  padding: 2%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  max-width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.feedback-items {
  margin-left: 20%;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 4%;
  }

  .form-wrapper,
.main-text-wrapper {
    padding: 0;
    margin: 3rem auto;
  }

  .form {
    width: 500px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 4%;
  }

  .form-wrapper,
.main-text-wrapper {
    padding: 0;
    margin: 3rem auto;
  }

  .form {
    max-width: 500px;
  }
}
@media screen and (max-width: 479px) {
  .main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 4%;
  }

  .form-wrapper,
.main-text-wrapper {
    padding: 0;
    margin: 3rem auto;
  }

  .form {
    max-width: 450px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .container__additional {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .card-text,
.title {
    font-size: 1em;
  }
}
@media screen and (max-width: 479px) {
  .title {
    text-align: center;
  }

  .container__additional {
    width: 12rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .carousel-item {
    max-width: 11rem;
  }

  .card-text,
.title {
    font-size: 1em;
  }

  .container__services {
    width: 18rem;
    padding: 10%;
  }
}