.footer {
    background: linear-gradient(45deg, #4B535A 16.25%, #354049 76.77%);
}
.footer-wrapper {
    display: grid;
    grid-template-columns: minmax(240px, 1fr);
    grid-template-rows: repeat(5, 0.1fr);
    padding: 1rem 8%;
}

.footer__corner-top {
    grid-area: 1/1/2/2;
    justify-self: end;
}

.footer__title {
    grid-area: 2/1/3/2;
}

.footer__title-text {
    margin-bottom: 0;
}

.footer__phone {
    grid-area: 3/1/4/2;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.phone-img {
    width: 1.5rem;
    height: 1.5rem;
}


.phone-text {
    margin-left: 2%;
    margin-bottom: 0;
    color: $light_tx;
    font-weight: 500;
    font-size: 1rem;
}

.a__phone {
    color: $light_tx;
}

.a__phone:hover {
    color: $light_tx;
}

.footer__time {
    grid-area: 3/1/4/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $light_tx;
    font-weight: 500;
    font-size: 1rem;
}

.footer__mail {
    grid-area: 4/1/5/2;
    display: flex;
    flex-wrap: nowrap;
}
.mail-img {
    width: 1.5rem;
    height: 1.5rem;
}


.mail-text {
    margin-left: 2%;
    margin-bottom: 0;
    line-height: 25px;
    color: $light_tx;
    font-weight: 500;
    font-size: 1rem;
}

.a__mail{
    text-decoration: none;
    color: $light_tx;
    &:hover{
        color: $light_tx;
    }
}

.footer__logo {
    grid-area: 4/1/5/2;
    justify-self: end;
}

.footer__corner-bottom {
    grid-area: 5/1/6/2;
    align-self: end;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .footer-wrapper {
        grid-template-rows: repeat(7, 0.8fr);
        padding: 1rem 8%;
    }

    .footer__phone {
        grid-area: 4/1/5/2;
    }

    .footer__time {
        grid-area: 3/1/4/2;
        justify-content: flex-start;
    }

    .footer__mail {
        grid-area: 5/1/6/2;
    }

    .footer__logo {
        grid-area: 6/1/7/2;
        justify-self: start;
    }
    
    .footer__corner-bottom {
        grid-area: 7/1/8/2;
    }
}

@media screen and (max-width: 479px) {
    .footer-wrapper {
        grid-template-rows: repeat(7, 0.8fr);
        padding: 1rem 8%;
    }

    .footer__phone {
        grid-area: 4/1/5/2;
    }

    .footer__time {
        grid-area: 3/1/4/2;
        justify-content: flex-start;
    }

    .footer__mail {
        grid-area: 5/1/6/2;
    }

    .footer__logo {
        grid-area: 6/1/7/2;
        justify-self: start;
    }
    
    .footer__corner-bottom,
    .footer__corner-top,
    .footer__line {
        display: none;
    }
}