.header {
    background-color: $grey_bg;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 8%;
}

.header__logo {
    max-width: 200px;
}

.header__whatsapp {
    display: flex;
    justify-content: space-around;
}

.header__whatsapp-icon {
    width: 20%;
}

.header__whatsapp-tel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.header__whatsapp-number {
    color: $yellow;
    font-weight: 600;
}

.header__whatsapp-call {
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.navbar-toggler_white{
    border: none;
}