.projects {
    padding: 7% 8% 5%;
}

.projects-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.project-text {
    text-align: center;
}

.projects-carousel {
    margin-top: 2rem;
}

.carousel-inner {
    text-align: center;
    max-height: 70vh;
}

.projects-photo {
    // height: 100%;
}

.line {
    width: 24%;
}