.projects {
    padding: 7% 8% 5%;
}

.projects-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.project-text {
    text-align: center;
}

.carousel {
    margin-top: 5rem;
}

.carousel-inner {
    text-align: center;
    max-height: 80vh;
}

.projects-photo {
    height: 100%;
}

.line {
    width: 24%;
}