.projects {
    padding: 7% 0% 5%;
}

.projects-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1rem;
}
.line{
    max-width: 30%;
}

.project-text {
    text-align: center;
}

.carousel {
    margin-top: 5rem;
}

.carousel-inner {
    text-align: center;
}

.carousel-item {
    max-height: 80vh;
}