.main-section__services {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #E8EBEA 67.66%, #F6FAFB 85.27%);
}

.main-section__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}