.whatsapp {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: $light_tx;
}

.whatsapp-box {
  grid-column: 2/12;
  background: linear-gradient(266.53deg, #EA9E5C 7.87%, #D49C6B 89.68%);
  border-radius: 20px;
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.whatsapp-box_text {
  grid-row: 2;
  grid-column: 2/6;
  align-self: center;
  font-weight: $fwapp;
  font-size: $fsapp;
}

.whatsapp-box_number {
  grid-row: 2;
  grid-column: 9/12;
  align-self: center;
  padding-bottom: 20%;
  line-height: 44px;
  font-weight: $fwapp;
  font-size: $fsapp;
}

.whatsapp-box_img {
  grid-row: 2;
  grid-column: 8;
  align-self: center;
  width: 6vw;
}

.whatsapp-box_link {
  grid-row: 2;
  grid-column: 9/12;
  align-self: center;
  color: white;
  color: $light_tx;
  text-decoration: underline;
  letter-spacing: 0.05em;
  font-size: $fsapp;
}

@media screen and (min-width: 769px) and (max-width: 1250px) {

  .whatsapp-box_text {
    font-size: $adaptmax;
  }

  .whatsapp-box_number {
    font-size: $adaptmax;
  }

  .whatsapp-box_link {
    font-size: $adaptmax;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {

  .whatsapp {
    display: flex;
    justify-content: center;
  }

  .whatsapp-box {
    height: 18vh;
    width: 80vw;
    display: grid;
    grid-template-rows: repeat(1fr 2fr 1fr);
  }

  .whatsapp-box_text {
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 15%;
  }

  .whatsapp-box_number {
    font-size: 0.7em;
    padding-bottom: 40%;
  }

  .whatsapp-box_link {
    font-size: 0.8em;
  }

}

@media screen and (max-width: 479px) {
  .whatsapp {
    display: flex;
    justify-content: center;

  }

  .whatsapp-box {
    height: 10vh;
    width: 90vw;
    display: grid;
    grid-template-rows: repeat(1fr 2fr 1fr);
  }

  .whatsapp-box_text {
    font-size: $adapwhat;
  }

  .whatsapp-box_img {
    grid-row: 2;
  }

  .whatsapp-box_number {
    align-self: start;
    padding-bottom: 0%;
    line-height: 0px;
    font-size: 0.46em;
  }

  .whatsapp-box_link {
    font-size: $adapwhat;
  }
}